@using MvcContrib.UI.Grid;
@using MvcContrib.UI.Pager
@using KModel = KISD.Areas.Admin.Models;

@model KModel.PagedViewModel<KModel.ContentModel>
@{
    Layout = null;
    var ParentID = Request.QueryString["pid"] != null ? Request.QueryString["pid"].ToString() : KModel.EncryptDecrypt.Encrypt("0");
    var MenuTypeID = Request.QueryString["mt"] != null ? Request.QueryString["mt"].ToString() : KModel.EncryptDecrypt.Encrypt("0");
    var SubMenuTypeID = Request.QueryString["smt"] != null ? Request.QueryString["smt"].ToString() : KModel.EncryptDecrypt.Encrypt("0");
    var TypeMasterID = Request.QueryString["mtid"] != null ? Request.QueryString["mtid"].ToString() : KModel.EncryptDecrypt.Encrypt("0");
    var SubTypeMasterID = Request.QueryString["smtid"] != null ? Request.QueryString["smtid"].ToString() : KModel.EncryptDecrypt.Encrypt("0");
    var message = TempData["AlertMessage"] ?? string.Empty;
    var pager = TempData["pager"] ?? string.Empty;
    var AppPath = (Request.IsSecureConnection ? "https://" : "http://") + (HttpContext.Current.Request.Url.DnsSafeHost) + (HttpContext.Current.Request.IsLocal ? (":" + HttpContext.Current.Request.Url.Port.ToString()) :
        (HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : ""))
          + "/Admin/Menu/SubMenuListing?mt=" + MenuTypeID
          + "&smt=" + SubMenuTypeID
          + "&mtid=" + TypeMasterID
          + "&smtid=" + SubTypeMasterID
          + "&pid=" + ParentID
          + "&mpage=" + (Request.QueryString["mColumn"] ?? "ContentCreateDate")
          + "&mColumn=" + (Request.QueryString["mColumn"] ?? "ContentCreateDate") + "&mDirection="
          + (Request.QueryString["mDirection"] ?? "Descending") + "&mpagesize="
          + (Request.QueryString["mpagesize"] ?? "10") + "&page=1&Column="
          + (Request.QueryString["Column"] ?? "ContentCreateDate") + "&Direction="
          + (Request.QueryString["Direction"] ?? "Descending") + "&pagesize=";
    AppPath = KModel.Common.ReturnValidPath(AppPath);
}
<div class="Main_PartialHeader">
    <div class="pager paging-top">
        <!-- pager -->
        @if (Model.PagedList.Any())
        {
            <div class="select-style" id="divPager">
                <select id="ddlPager" name="ddlPager" class="ddlPgr">
                    <option value="@(AppPath)10" text="10">10</option>
                    <option value="@(AppPath)25" text="25">25</option>
                    <option value="@(AppPath)50" text="50">50</option>
                    <option value="@(AppPath)100" text="100">100</option>
                    <option value="@(AppPath)0" text="0">All</option>
                </select>
            </div>
            @*<div class="pagination">*@
            @Html.Raw(Html.Pager(Model.PagedList).First("First").Last("Last").Next("Next").Previous("Previous"))
            @*</div>*@
        }
        <!-- pagination -->
    </div>

    <div class="wrapper">
        <div class="tab-pane active">
            @if (Model.PagedList.Any())
            {
                @Html.Grid(Model.PagedList).Columns(column =>
           {
               column.For(x => x.MenuTitleTxt).Named("Menu Title").SortColumnName("MenuTitleTxt").HeaderAttributes(@style => "width:20%", @class => "left sort", @align => "left").Attributes(@class => "left maxMenuTitleTxt");

               column.For(x => x.PageTitleTxt).Named("Page Title").SortColumnName("PageTitleTxt").HeaderAttributes(@style => "width:20%", @class => "left sort", @align => "left").Attributes(@class => "left maxPageTitleTxt");

               column.For(x => Html.ActionLink("Manage", "RightSectionListing", "RightSection"
                                                          , new
                                                          {
                                                              ct = KModel.EncryptDecrypt.Encrypt(x.ContentID.ToString()),
                                                              mtid = SubTypeMasterID,
                                                              mpagesize = Request.QueryString["pagesize"] ?? "10",
                                                              mpage = Request.QueryString["page"] ?? "1",
                                                              mColumn = Request.QueryString["Column"] ?? "RightSectionCreateDate",
                                                              mDirection = Request.QueryString["Direction"] ?? "Descending"
                                                          }, new { target = "_blank" })).Named("Manage Right Section").Sortable(false)
                                                                 .HeaderAttributes(new Dictionary<string, object> { { "style", "width:10%" }, { "data-hide", "phone" }, { "class", "footable-sorted-desc" } })
                                                                 .Attributes(@align => "center", @title => "Manage Right Section");
               column.For(x => Html.DropDownList("ddldisplayorder_" + x.ContentID.ToString(), x.DisplayOrderNbrSelect, new { @class = "displayOrder", @value = x.ContentID, @text = AppPath, @style = "width:60px" })
                       ).Encode(false).Attributes(@class => "center ").Sortable(true).SortColumnName("DisplayOrderNbr").Named("Display Order").HeaderAttributes(@align => "center", @style => "width:15%;", @class => "sort");


               //column.For(x => Html.Label("&nbsp;", new { @value = x.ContentID, @class = "btn-Manage", @onclick = "ShowRightSections(" + x.ContentID + ",'" + ParentID + "','" + MenuTypeID + "','" + KModel.EncryptDecrypt.Encrypt(x.ContentTypeID.ToString()) + "','" + SubMenuTypeID + "')" })).Named("Manage Right Section").Sortable(false).HeaderAttributes(@style => "width:10%", @align => "center").Attributes(@align => "center", @title => "Manage Right Section");



               column.For(x => Html.CheckBox("mycheckbox", x.StatusInd, new { @class = "checkbox status", @text = AppPath, @value = x.ContentID })).Encode(false).Header("<th style='width:10%'  data-hide='phone'>Status</th>").Attributes(@align => "center");

               column.For(x => x.ContentCreateDate.Value.ToShortDateString()).Named("Date Added").SortColumnName("ContentCreateDate").HeaderAttributes(@class => "sort", @style => "width:15%").Attributes(@align => "center");

               column.For(x => Html.ActionLink("Edit", "CreateSubmenu", "Menu", new
               {
                   smt = KModel.EncryptDecrypt.Encrypt(x.ContentTypeID.ToString()),
                   mt = MenuTypeID,
                   cid = KModel.EncryptDecrypt.Encrypt(x.ContentID.ToString()),
                   pid = ParentID,
                   mtid= TypeMasterID,
                   smtid= SubTypeMasterID,
                   pagesize = Request.QueryString["pagesize"] ?? "10",
                   page = Request.QueryString["page"] ?? "1",
                   Column = Request.QueryString["Column"] ?? "ContentCreateDate",
                   Direction = Request.QueryString["Direction"] ?? "Descending",
                   mpagesize = Request.QueryString["mpagesize"] ?? "10",
                   mpage = Request.QueryString["mpage"] ?? "1",
                   mColumn = Request.QueryString["mColumn"] ?? "ContentCreateDate",
                   mDirection = Request.QueryString["mDirection"] ?? "Ascending",
               }, new { @class = "edit", @title = "Edit" })).Named("Edit").Sortable(false)
                   .HeaderAttributes(new Dictionary<string, object> { { "style", "width:10%" }, { "data-hide", "phone" }, { "class", "footable-sorted-desc" } })
                   .Attributes(@align => "center");

               column.For(x => Html.ActionLink("Delete", "DeleteSubmenu", "Menu", new
               {
                   smt = KModel.EncryptDecrypt.Encrypt(x.ContentTypeID.ToString()),
                   mt = MenuTypeID,
                   cid = KModel.EncryptDecrypt.Encrypt(x.ContentID.ToString()),
                   pid = ParentID,
                   mtid = TypeMasterID,
                   smtid = SubTypeMasterID,
                   pagesize = Request.QueryString["pagesize"] ?? "10",
                   page = Request.QueryString["page"] ?? "1",
                   Column = Request.QueryString["Column"] ?? "ContentCreateDate",
                   Direction = Request.QueryString["Direction"] ?? "Descending",
                   mpagesize = Request.QueryString["mpagesize"] ?? "10",
                   mpage = Request.QueryString["mpage"] ?? "1",
                   mColumn = Request.QueryString["mColumn"] ?? "ContentCreateDate",
                   mDirection = Request.QueryString["mDirection"] ?? "Ascending",
               }, new { @class = "PostLink delete", @title = "Delete", @val = x.MenuTitleTxt })).Sortable(false).Named("Delete").
                   HeaderAttributes(new Dictionary<string, object> { { "style", "width:10%" }, { "data-hide", "phone" } })
                   .Attributes(@align => "center");
           }).Sort(Model.GridSortOptions).Attributes(@class => "table table-bordered", @CellSpacing => "0", @CellPadding => "2")
            }
            else
            {
                <div>
                    <div class="nodatafound">
                        No Data Found.
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="pager">
        <!-- pager -->
        @if (Model.PagedList.Any())
        {
            <div class="select-style">
                <select id="ddlPager1" class="ddlPgr" name="ddlPager1">
                    <option value="@(AppPath)10" text="10">10</option>
                    <option value="@(AppPath)25" text="25">25</option>
                    <option value="@(AppPath)50" text="50">50</option>
                    <option value="@(AppPath)100" text="100">100</option>
                    <option value="@(AppPath)0" text="0">All</option>
                </select>

            </div>
            @*<div class="pagination">*@
            @Html.Raw(Html.Pager(Model.PagedList).First("First").Last("Last").Next("Next").Previous("Previous"))
            @*</div>*@

            <div class="shadow common_hide"></div>
            <div id="loader" class="loader common_hide"> </div>
            <div id="manage-sections" class="common_hide manage-sections">
                <a href="#" class="close_popup" title="Close"><span hidden>Close</span></a>
                <div id='page-content'></div>
            </div>
        }
        <!-- pagination -->
    </div>
</div>


<script type="text/javascript">
    //Scroll window to top
    window.scrollTo(0, 0);

    //Delete Menu Content Section
    $(document).ready(function () {

        $("a.PostLink").click(function (e) {
            e.preventDefault();
            if (window.confirm('Are you sure you want to delete Menu ' + $(this).attr('val') + '?')) {
                $.post($(this).attr("href"), function (data) {
                    window.location.href = data;
                });
            }
        });
    });

    var message = '@message';
    if (message) {
        var het = $('.message').outerHeight();
        $('.message').css('top', -het); //move element outside viewport
        showMessage(message);
        setTimeout(function () {
            hidemessage()
        }, 3000);
    }

    function showMessage(msg) {
        $(".status").prop("disabled", true);// Make status check box enable after message hides
        $(".displayOrder").prop("disabled", true);

        $('#notifyDiv').show();
        $('.message').animate({ top: "0" }, 500);
        $('#notifyMsg').html(msg);
    }

    function hidemessage() {
        var ht = $('.message').outerHeight();
        $('.message').animate({ top: -ht }, 500);
        $(".status").prop("disabled", false);// Make status check box enable after message hides
        $(".displayOrder").prop("disabled", false);

        setTimeout(function () {
            $('#notifyDiv').hide();
        }, 500);
    }

    //.. for pager dropdown selectedvalue
    var pager = '@pager';
    if (pager) {
        $("#ddlPager option[text=" + pager + "]").prop("selected", true);
        $("#ddlPager1 option[text=" + pager + "]").prop("selected", true);
    }

    ////Ajax Drop down Pagination Section starts
    $('.ddlPgr').on('change', function () {
        var url = $(this).val();

        // Declare String object of model AjaxRequest
        var objresult = {
            ajaxcall: 'ddlPaging', //ajaxcall parameter is used to define which ajax call if posted
            hfid: '',
            hfvalue: '',
            qs_shownonhomevalue: '',
            qs_checkboxselected: '',
            qs_value: '',
            qs_Type: ''
        };

        $.ajax({
            url: url,
            type: 'Get',
            data: { "objresult": JSON.stringify(objresult) },
            cache: false,
            success: function (result) {
                var pager = $(".ddlPgr").find("option:selected").prop("text");
                if (pager) {
                    $(".ddlPgr option[text=" + pager + "]").prop("selected", true);
                }
                objresult = null;
                $('.Main_PartialHeader').replaceWith(result);
            }
        });
        return false;
    });

    //Ajax Next Previous Pagination Section starts
    $('.paginationRight a').on('click', function () {
        var url = $(this).attr('href');
        var url_new = url.substring(0, url.indexOf('&objresult'));
        if (url_new != '') {
            $(this).attr('href', url_new);
            url = url_new;
        }
        var objresult = { // String object of model AjaxRequest
            ajaxcall: 'paging',    //ajaxcall parameter is used to define which ajax call if posted
            hfid: '',
            hfvalue: '',
            qs_shownonhomevalue: '',
            qs_checkboxselected: '',
            qs_value: '',
            qs_Type: ''
        };

        $.ajax({
            url: url,
            type: 'Get',
            data: { "objresult": JSON.stringify(objresult) },
            cache: false,
            success: function (result) {

                objresult = null;
                $('.Main_PartialHeader').replaceWith(result);
            }
        });

        return false;
    });

    //Ajax Column sorting Section starts
    $('.table thead tr th a').on('click', function (evt) {
        var url = $(this).attr('href');
        var url_new = url.substring(0, url.indexOf('&objresult'));
        if (url_new != '') {
            $(this).attr('href', url_new);
            url = url_new;
        }

        var objresult = { // String object of model AjaxRequest
            ajaxcall: 'sorting',    //ajaxcall parameter is used to define which ajax call if posted
            hfid: '',
            hfvalue: '',
            qs_shownonhomevalue: '',
            qs_checkboxselected: '',
            qs_value: '',
            qs_Type: ''
        };
        $.ajax({
            url: url,
            type: 'Get',
            data: { objresult: JSON.stringify(objresult) },
            cache: false,
            success: function (result) {
                objresult = null;
                $('.Main_PartialHeader').replaceWith(result);
            }
        });
        return false;
    });

    $('.status').change(function () {
        var qs_pager = $(".ddlPgr").find("option:selected").prop("text");//qs_pager =(dropdown page no value
        if (qs_pager == 'All') {
            qs_pager = '0';
        }
        var qs_Type; var qs_checkboxselected; var qs_value;
        var value = this.value;
        qs_checkboxselected = this.id.split('_')[1];
        qs_value = value;
        qs_Type = 'status';

        var skillsSelect = document.getElementById(this.id);
        var selected = skillsSelect.options[skillsSelect.selectedIndex].text;

        if (selected == 'Active') {
            hfid = qs_checkboxselected;
            hfvalue = '1';
        } else if (selected == 'InActive') {
            hfid = qs_checkboxselected;
            hfvalue = '0';
        }
        else {
            hfid = qs_checkboxselected;
            hfvalue = '2';
        }

        var url = $(this).attr('text') + qs_pager;

        // String object of model AjaxRequest
        var objresult = {
            ajaxcall: 'status',    //ajaxcall parameter is used to define which ajax call if posted
            hfid: hfid,
            hfvalue: hfvalue,
            qs_shownonhomevalue: '',
            qs_checkboxselected: qs_checkboxselected,
            qs_value: qs_value,
            qs_Type: qs_Type
        };

        $.ajax({
            url: url,
            type: 'Get',
            data: { "objresult": JSON.stringify(objresult) },
            cache: false,
            success: function (result) {
                objresult = null;
                $('.Main_PartialHeader').replaceWith(result);
            }
        });
        return false;
    });

    // Ajax call for display order section
    $('.displayOrder').change(function () {
        var qs_pager = $(".ddlPgr").find("option:selected").prop("text");//qs_pager =(dropdown page no value
        if (qs_pager == 'All') {
            qs_pager = '0';
        }
        var qs_Type; var qs_checkboxselected; var qs_value;
        var value = this.value;
        qs_checkboxselected = this.id.split('_')[1];
        qs_value = value;
        qs_Type = 'displayOrder';

        var url = $(this).attr('text') + qs_pager;
        // String object of model AjaxRequest
        var objresult = {
            ajaxcall: 'displayorder',    //ajaxcall parameter is used to define which ajax call if posted
            hfid: '',
            hfvalue: '',
            qs_shownonhomevalue: '',
            qs_checkboxselected: qs_checkboxselected,
            qs_value: qs_value,
            qs_Type: qs_Type
        };

        $.ajax({
            url: url,
            type: 'Get',
            data: { "objresult": JSON.stringify(objresult) },
            cache: false,
            success: function (result) {
                objresult = null;
                $('.Main_PartialHeader').replaceWith(result);
            }
        });
        return false;
    });

    //Ajax call for status check box Active/Inactive
    $('.checkbox').click(function () {
        var pager = $(".ddlPgr").find("option:selected").prop("text");
        pager = pager == 'All' ? '0' : pager;
        var hfid; var hfvalue;

        if ($(this).is(':checked')) {
            hfid = $(this).attr('value')
            hfvalue = '1';
        } else {
            hfid = $(this).attr('value')
            hfvalue = '0';
        }
        var url = $(this).attr('text') + pager;
        var objresult = { // String object of model AjaxRequest
            ajaxcall: 'status',    //ajaxcall parameter is used to define which ajax call if posted
            hfid: hfid,
            hfvalue: hfvalue,
            qs_shownonhomevalue: '',
            qs_checkboxselected: '',
            qs_value: '',
            qs_Type: ''
        };

        $.ajax({
            url: url,
            type: 'Get',
            data: { "objresult": JSON.stringify(objresult) },
            cache: false,
            success: function (result) {
                objresult = null;
                $('.Main_PartialHeader').replaceWith(result);
            }
        });

        return false;
    });

    function ShowRightSections(cid, ParentID, menuTypeID, subMenuTypeID) {
        $('.shadow').removeClass('common_hide');
        $('.shadow').addClass('common_show');
        $('.loader').removeClass('common_hide');
        $('.loader').addClass('common_show');
        var URL = '/Admin/Menu/ManageRightSections';
        $(function () {
            var options = { "backdrop": "static", keyboard: true };
            $.ajax({
                type: "GET",
                url: URL,
                data: { "ContentID": cid, "ParentID": ParentID, "MenuTypeID": menuTypeID, "SubMenuTypeID": subMenuTypeID, "IsFromMenu": false },
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('#page-content').html(data);
                    $('.shadow').removeClass('common_hide');
                    $('.shadow').addClass('common_show');
                    $('.loader').removeClass('common_show');
                    $('.loader').addClass('common_hide');
                    $('#manage-sections').removeClass('common_hide');
                    $('#manage-sections').addClass('common_show');
                    return false;
                },
                error: function () {
                    $('.shadow').removeClass('common_show');
                    $('.shadow').addClass('common_hide');
                    $('.loader').removeClass('common_show');
                    $('.loader').addClass('common_hide');
                    $('#manage-sections').removeClass('common_show');
                    $('#manage-sections').addClass('common_hide');
                }
            });
        });
    }

    $('.close_popup').click(function () {
        $('.shadow').removeClass('common_show');
        $('.shadow').addClass('common_hide');
        $('.loader').removeClass('common_show');
        $('.loader').addClass('common_hide');
        $('#manage-sections').removeClass('common_show');
        $('#manage-sections').addClass('common_hide');
    });
</script>