@using ContentTypeAlias = KISD.Areas.Admin.Models.ContentType
@model KISD.Areas.Admin.Models.ContentModel
@{
    ViewBag.Title = !string.IsNullOrEmpty(Model.PageMetaTitleTxt) ? Model.PageMetaTitleTxt : "";
    ViewBag.MetaDescription = !string.IsNullOrEmpty(Model.PageMetaDescriptionTxt) ? Model.PageMetaDescriptionTxt : "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AppPath = (Request.IsSecureConnection ? "https://" : "http://") + (HttpContext.Current.Request.Url.DnsSafeHost) + (HttpContext.Current.Request.IsLocal ? (":" + HttpContext.Current.Request.Url.Port.ToString()) :
     (HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : ""));
    AppPath = KISD.Areas.Admin.Models.Common.ReturnValidPath(AppPath);
    ViewBag.InnerImgPath = string.IsNullOrEmpty(ViewBag.InnerImgPath) ? "" : ViewBag.InnerImgPath;
    ViewBag.InnerImgTitleTxt = string.IsNullOrEmpty(ViewBag.InnerImgTitleTxt) ? "" : ViewBag.InnerImgTitleTxt;
    db_KISDEntities objContext = new db_KISDEntities();
    bool IsListingParameterExists = false;
}
@if (Model != null)
{
    <div class="@if (!string.IsNullOrEmpty(@ViewBag.InnerImgPath))
    {<text>main-banner</text>}
    else
    {<text>no-inner-banner</text>}">
        @if (!string.IsNullOrEmpty(@ViewBag.InnerImgPath))
        {
            <img src="@ViewBag.InnerImgPath" class="banner_img" title="@ViewBag.InnerImgTitleTxt" alt="@Model.AltBannerImageTxt" />
            
                <div class="inner-banner-abstract">
                    <div class="container">
                        @Html.Raw(Model.BannerImageAbstractTxt)
                    </div>
            </div>
        }
    </div>

    <div class="main-content">
        <div class="container">
            <div @if (Model.ParentRightSections.Count > 0 || Model.IsFacebookSharingInd 
                      || Model.IsGooglePlusSharingInd || Model.IsTwitterSharingInd
                      || !string.IsNullOrEmpty(Model.RightSectionTitleTxt) 
                      || !string.IsNullOrEmpty(Model.RightSectionAbstractTxt))
            { @Html.Raw("class='main-left'")    ;
            }>
                @if (!string.IsNullOrEmpty(Model.PageTitleTxt))
                {
                    <h1 class="campus-news-title">@Model.PageTitleTxt</h1>
                }
                <div class="breadcrumb">
                    <a href="@AppPath" title="Home Page">Home</a><span class="breaddiv"></span>

                    @if (!string.IsNullOrEmpty(@ViewBag.ParentURL) || !string.IsNullOrEmpty(@ViewBag.ParentName))
                    {  <a href="@ViewBag.ParentURL" title="@ViewBag.ParentName">@ViewBag.ParentName</a><span class="breaddiv"></span> }

                    @if (!string.IsNullOrEmpty(@ViewBag.MainURL) || !string.IsNullOrEmpty(@ViewBag.MainParentName))
                    {  <a href="@ViewBag.MainURL" title="@ViewBag.MainParentName">@ViewBag.MainParentName</a><span class="breaddiv"></span> }
                    
                    <span>@Model.PageTitleTxt</span>
                </div>
                <div class="content">
                   @if (!string.IsNullOrEmpty(Model.DescriptionTxt))
                   {
                       string html = Model.DescriptionTxt;
                       var ListingParameters = objContext.ListingParameters.Select(x => x.ListingParameterTxt).ToArray();
                       foreach (var parameter in ListingParameters)
                       {
                           if (Model.DescriptionTxt.Trim().Contains(parameter.Trim()))
                           {
                               IsListingParameterExists = true;
                               Model.ListingParemeterName = parameter.Replace("#", "");
                               html = string.Format(html.Replace(parameter, "{0}"), Html.Partial("ListingParameterListing", Model));
                           }
                       }
                           if (IsListingParameterExists)
                           { 
                               @Html.Raw(html)
                           }
                       }

                    @if (!IsListingParameterExists)
                    {
                       @Html.Raw(Model.DescriptionTxt)
                    }
                    @if (Model.ContentTypeID == Convert.ToInt32(ContentTypeAlias.ExceptionalOpportunities))
                    {
                        Html.RenderAction("ExceptionalOppertunity", "ContentOuter");
                    }

                </div>
                <!--content container end here-->
            </div>
            <div class="clearfix-mobile"></div>

            @*Right Section*@
            @{Html.RenderAction("RightSection", "ContentOuter", new { ListingID = Model.ContentID, ModuleType="Content" });}
            @{ Html.RenderPartial("JavaScriptPartial");}
        </div>

        <!-- District and Campus News container end here-->
    </div>
    <!-- Main content container end here-->
}

<script>
    @if (Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.Home) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.HomeMenu) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.HomeSubMenu))
    {
    <text>
    $("#ankHome").addClass('active');
    </text>
    }
    else if (Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.AboutKISD) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.AboutKISDMenu) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.AboutKISDSubMenu))
    {
        <text>
    $("#ankAboutKISD").addClass('active');
    </text>
    }
    else if (Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.School) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.SchoolMenu) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.SchoolSubMenu))
    {
        <text>
    $("#ankSchool").addClass('active');
    </text>
    }
    else if (Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.NewToKISD) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.NewToKISDMenu) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.NewToKISDSubMenu) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.ExceptionalOpportunities))
    {
        <text>
    $("#ankNewToKISD").addClass('active');
    </text>
    }
    else if (Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.ParentStudents) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.ParentStudentsMenu) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.ParentStudentsSubMenu))
    {
        <text>
    $("#ankParentStudents").addClass('active');
    </text>
    }
    else if (Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.Departments) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.DepartmentsMenu) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.DepartmentsSubMenu))
    {
        <text>
    $("#ankDepartments").addClass('active');
    </text>
    }
    else if (Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.SchoolBoard) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.SchoolBoardMenu) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.SchoolBoardSubMenu) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.SchoolBoard))
    {
        <text>
    $("#ankSchoolBoard").addClass('active');
    </text>
    }
    else if (Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.Employment) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.EmploymentMenu) || Model.ContentTypeID == Convert.ToInt64(ContentTypeAlias.EmploymentSubMenu))
    {
        <text>
    $("#ankEmployment").addClass('active');
        </text>
    }

</script>