@using ContentTypeAlias = KISD.Areas.Admin.Models.ContentType
@model KISD.Areas.Admin.Models.ContentModel
@{
    ViewBag.Title = !string.IsNullOrEmpty(Model.PageMetaTitleTxt) ? Model.PageMetaTitleTxt : "";
    ViewBag.MetaDescription = !string.IsNullOrEmpty(Model.PageMetaDescriptionTxt) ? Model.PageMetaDescriptionTxt : "";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AppPath = (Request.IsSecureConnection ? "https://" : "http://") + (HttpContext.Current.Request.Url.DnsSafeHost) + (HttpContext.Current.Request.IsLocal ? (":" + HttpContext.Current.Request.Url.Port.ToString()) :
     (HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : ""));
    AppPath = KISD.Areas.Admin.Models.Common.ReturnValidPath(AppPath);
    ViewBag.InnerImgPath = string.IsNullOrEmpty(ViewBag.InnerImgPath) ? "" : ViewBag.InnerImgPath;
    ViewBag.InnerImgTitleTxt = string.IsNullOrEmpty(ViewBag.InnerImgTitleTxt) ? "" : ViewBag.InnerImgTitleTxt;
}
@if (Model != null)
{
    <div class="@if (!string.IsNullOrEmpty(@ViewBag.InnerImgPath))
    {<text>main-banner</text>}
    else
    {<text>no-inner-banner</text>}">
        @if (!string.IsNullOrEmpty(@ViewBag.InnerImgPath))
        {
            <img src="@ViewBag.InnerImgPath" class="banner_img" title="@ViewBag.InnerImgTitleTxt" alt="@Model.AltBannerImageTxt" />

            <div class="inner-banner-abstract">
                <div class="container">
                    @Html.Raw(Model.BannerImageAbstractTxt)
                </div>
            </div>
        }
    </div>

    <div class="main-content">
        <div class="container">
            @if (!string.IsNullOrEmpty(Model.PageTitleTxt))
                {
                <h1 class="campus-news-title">@Model.PageTitleTxt</h1>
            }
            <div class="breadcrumb">
                <a href="@AppPath" title="Home Page">Home</a><span class="breaddiv"></span>

                @if (!string.IsNullOrEmpty(@ViewBag.ParentURL) || !string.IsNullOrEmpty(@ViewBag.ParentName))
                {  <a href="@ViewBag.ParentURL" title="@ViewBag.ParentName">@ViewBag.ParentName</a><span class="breaddiv"></span> }

                @if (!string.IsNullOrEmpty(@ViewBag.MainURL) || !string.IsNullOrEmpty(@ViewBag.MainParentName))
                {  <a href="@ViewBag.MainURL" title="@ViewBag.MainParentName">@ViewBag.MainParentName</a><span class="breaddiv"></span> }

                <span>@Model.PageTitleTxt</span>
            </div>
            <div class="content">
                @if (!string.IsNullOrEmpty(Model.DescriptionTxt))
                {
                    @Html.Raw(Model.DescriptionTxt)
                }

                @if (Model.StaffResult.Count > 0)
                {
                    <ul class="bsc-list department">
                        @foreach (var staff in Model.StaffResult)
                        {
                            <li>
                                <div class="bsc-box">
                                    <div class="bsc name"><strong class="red-color">Name:</strong>@staff.FirstNameTxt @staff.LastNameTxt</div>
                                    <div class="bsc-time">@staff.DesignationTxt</div>
                                    <div class="bsc-vanue email red-color"><strong>Phone:</strong><a href="tel:@(staff.PhoneTxt)">@staff.PhoneTxt</a></div>
                                    <div class="bsc-vanue email red-color"><strong class="red-color">Email:</strong><a href="mailto:@(staff.EmailTxt)">@staff.EmailTxt</a></div>                                    
                                </div>
                            </li>
                        }
                    </ul>
                }

            </div>
            <!--content container end here-->
        </div>

        @Html.HiddenFor(x => x.DepartmentID)
        <!-- District and Campus News container end here-->
    </div>
    <!-- Main content container end here-->
            }

<script>
    $("#ankDepartments").addClass('active');
</script>