@using ContentAlias = KISD.Areas.Admin.Models.ContentType
@{
    ViewBag.Title = "Sitemap - Killeen ISD";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var AppPath = (Request.IsSecureConnection ? "https://" : "http://") + (HttpContext.Current.Request.Url.DnsSafeHost) + (HttpContext.Current.Request.IsLocal ? (":" + HttpContext.Current.Request.Url.Port.ToString()) :
     (HttpContext.Current.Request.ApplicationPath.Length > 1 ? HttpContext.Current.Request.ApplicationPath : ""));
    AppPath = KISD.Areas.Admin.Models.Common.ReturnValidPath(AppPath);
    db_KISDEntities dbObject = new db_KISDEntities();
    var Content = dbObject.Contents.Where(x => x.StatusInd == true && (x.IsDeletedInd == false || x.IsDeletedInd == null)).OrderBy(x => x.ContentTypeID).ToList();
}

<div class="main-content">
    <div class="container">
        <h1 class="campus-news-title">Site Map</h1>
        <div class="breadcrumb">
            <a href="@AppPath" id="ankHomeBreadCrumb">Home</a>
            <span class="breaddiv"></span><span id="lblBreadCrumb">Site Map</span>
        </div>
        <div class="sitemap">
            <ul id="sitemap">

                @foreach (var item in Content.Where(x => x.ContentTypeID == Convert.ToInt64(ContentAlias.Home)
                || x.ContentTypeID == Convert.ToInt64(ContentAlias.AboutUs)
                || x.ContentTypeID == Convert.ToInt64(ContentAlias.ContactUs)
                || x.ContentTypeID == Convert.ToInt64(ContentAlias.Syllabus)
                || x.ContentTypeID == Convert.ToInt64(ContentAlias.Downloads)
                || x.ContentTypeID == Convert.ToInt64(ContentAlias.DailyNews)
                || x.ContentTypeID == Convert.ToInt64(ContentAlias.Video)
                ))
                {
                    //HOME
                    if (item.ContentTypeID == Convert.ToInt64(ContentAlias.Home))
                    {

                        if (Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.Home) && x.StatusInd == true).Count() > 0)
                        {
                            foreach (var menuitem in Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.Home) && x.StatusInd == true))
                            {
                                <li>
                                    @*Content Menu Name*@
                                    <a href="@AppPath" id="ankHome">
                                        @Html.Raw(menuitem.MenuTitleTxt)
                                    </a>

                                    @*Check if Content Page contains menu listing or  not*@
                                    @if (Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.HomeMenu) && x.StatusInd == true).Count() > 0)
                                    {
                                        <ul>
                                            @*Content Second Level Menu Listing*@
                                            @foreach (var second_menu in Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.HomeMenu) && x.StatusInd == true).OrderBy(x => x.DisplayOrderNbr))
                                            {
                                                <li>

                                                    @*Content Second Level Menu Name*@
                                                    <a href="@if (second_menu.IsExternalLinkInd == true)
                                            { @second_menu.ExternalLinkTxt}
                                            else
                                            {@AppPath<text>/</text>@second_menu.PageURLTxt;
                                            }"
                                                       @if (second_menu.ExternalLinkTargetInd == true) { <text> target="_blank" </text>                          }>
                                                        @Html.Raw(second_menu.MenuTitleTxt)
                                                    </a>

                                                    @*Check if Content Second Level Menu contains third level menu or not*@
                                                    @if (Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.HomeSubMenu) && x.StatusInd == true && x.ParentID == second_menu.ContentID).Count() > 0)
                                                    {
                                                        @*Content Third Level Menu Listing*@
                                                        <ul>
                                                            @foreach (var third_menu in Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.HomeSubMenu) && x.StatusInd == true && x.ParentID == second_menu.ContentID).OrderBy(x => x.DisplayOrderNbr))
                                                            {
                                                                @*Content Third Level Menu Name*@
                                                                <li>
                                                                    <a href="@if (third_menu.IsExternalLinkInd == true)
                                                            {<text>@third_menu.ExternalLinkTxt</text>}
                                                            else
                                                            {
                                                                {<text>@AppPath/@third_menu.PageURLTxt</text>}
                                                            }" @if (third_menu.ExternalLinkTargetInd == true) { <text> target="_blank" </text>                 }>
                                                                        @Html.Raw(third_menu.MenuTitleTxt)
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                </li>
                                            }
                                        </ul>
                                    }
                                </li>
                            }
                        }
                    }

                    //AboutUs
                    if (item.ContentTypeID == Convert.ToInt64(ContentAlias.AboutUs))
                    {
                        if (Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.AboutUs) && x.StatusInd == true).Count() > 0)
                        {
                            foreach (var menuitem in Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.AboutUs) && x.StatusInd == true))
                            {
                                <li>
                                    <a href="@AppPath/@menuitem.PageURLTxt" id="ankAbout_Us">
                                        @Html.Raw(menuitem.MenuTitleTxt)
                                    </a>
                                    <ul>                                       
                                        @*Check if Content Page contains menu listing or not*@
                                        @if (Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.AboutUsMenu) && x.StatusInd == true).Count() > 0)
                                        {
                                            @*Content Second Level Menu Listing*@
                                        foreach (var second_menu in Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.AboutUsMenu) && x.StatusInd == true).OrderBy(x => x.DisplayOrderNbr))
                                        {
                                            <li>

                                                @*Content Second Level Menu Name*@
                                                <a href="@if (second_menu.IsExternalLinkInd == true)
                                            { @second_menu.ExternalLinkTxt}
                                            else
                                            {@AppPath<text>/</text>@second_menu.PageURLTxt;
                                            }"
                                                   @if (second_menu.ExternalLinkTargetInd == true) { <text> target="_blank" </text>                         }>
                                                    @Html.Raw(second_menu.MenuTitleTxt)
                                                </a>

                                                @*Check if Content Second Level Menu contains third level menu or not*@
                                                @if (Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.AboutUsSubMenu) && x.StatusInd == true && x.ParentID == second_menu.ContentID).Count() > 0)
                                                {
                                                    @*Content Third Level Menu Listing*@
                                                    <ul>
                                                        @foreach (var third_menu in Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.AboutUsSubMenu) && x.StatusInd == true && x.ParentID == second_menu.ContentID).OrderBy(x => x.DisplayOrderNbr))
                                                        {
                                                            @*Content Third Level Menu Name*@
                                                            <li>
                                                                <a href="@if (third_menu.IsExternalLinkInd == true)
                                                                   {<text>@third_menu.ExternalLinkTxt</text>}
                                                            else
                                                            {
                                                                {<text>@AppPath/@third_menu.PageURLTxt</text>}
                                                            }" @if (third_menu.ExternalLinkTargetInd == true) { <text> target="_blank" </text>                }>
                                                                    @Html.Raw(third_menu.MenuTitleTxt)
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                }
                                            </li>
                                            }
                                        }
                                    </ul>
                                </li>
                            }
                        }
                    }

                    //ContactUs
                    if (item.ContentTypeID == Convert.ToInt64(ContentAlias.ContactUs))
                    {
                        if (Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.ContactUs) && x.StatusInd == true).Count() > 0)
                        {
                            foreach (var menuitem in Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.ContactUs) && x.StatusInd == true))
                            {
                                <li>
                                    <a href="@AppPath/@menuitem.PageURLTxt" id="ankContactUs">
                                        @Html.Raw(menuitem.MenuTitleTxt)
                                    </a>

                                    @*Check if Content Page contains menu listing or  not*@
                                    @if (Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.ContactUsMenu) && x.StatusInd == true).Count() > 0)
                                    {
                                        <ul>
                                            @*Content Second Level Menu Listing*@
                                            @foreach (var second_menu in Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.ContactUsMenu) && x.StatusInd == true).OrderBy(x => x.DisplayOrderNbr))
                                            {
                                                <li>

                                                    @*Content Second Level Menu Name*@
                                                    <a href="@if (second_menu.IsExternalLinkInd == true)
                                            { @second_menu.ExternalLinkTxt}
                                            else
                                            {@AppPath<text>/</text>@second_menu.PageURLTxt;
                                            }"
                                                       @if (second_menu.ExternalLinkTargetInd == true) { <text> target="_blank" </text>                          }>
                                                        @Html.Raw(second_menu.MenuTitleTxt)
                                                    </a>

                                                    @*Check if Content Second Level Menu contains third level menu or not*@
                                                    @if (Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.ContactUsSubMenu) && x.StatusInd == true && x.ParentID == second_menu.ContentID).Count() > 0)
                                                    {
                                                        @*Content Third Level Menu Listing*@
                                                        <ul>
                                                            @foreach (var third_menu in Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.ContactUsSubMenu) && x.StatusInd == true && x.ParentID == second_menu.ContentID).OrderBy(x => x.DisplayOrderNbr))
                                                            {
                                                                @*Content Third Level Menu Name*@
                                                                <li>
                                                                    <a href="@if (third_menu.IsExternalLinkInd == true)
                                                                       {<text>@third_menu.ExternalLinkTxt</text>}
                                                                    else
                                                                    {
                                                                        {<text>@AppPath/@third_menu.PageURLTxt</text>}
                                                                    }" @if (third_menu.ExternalLinkTargetInd == true) { <text> target="_blank" </text>                 }>
                                                                        @Html.Raw(third_menu.MenuTitleTxt)
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    }
                                                </li>
                                            }

                                        </ul>
                                    }
                                </li>
                            }
                        }
                    }

                    //DailyNews
                    if (item.ContentTypeID == Convert.ToInt64(ContentAlias.DailyNews))
                    {
                        if (Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.DailyNews) && x.StatusInd == true).Count() > 0)
                        {
                            <li>
                                <a href="@AppPath/@Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.DailyNews) && x.StatusInd == true).Select(x=>x.PageURLTxt).FirstOrDefault()" id="ankDailyNews">
                                    @Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.DailyNews) && x.StatusInd == true).Select(x => x.MenuTitleTxt).FirstOrDefault()
                                </a>
                            </li>
                        }
                    }

                    //Downloads
                    if (item.ContentTypeID == Convert.ToInt64(ContentAlias.Downloads))
                    {
                        if (Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.Downloads) && x.StatusInd == true).Count() > 0)
                        {
                            <li>
                                <a href="@AppPath/@Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.Downloads) && x.StatusInd == true).Select(x=>x.PageURLTxt).FirstOrDefault()" id="ankDownloads">
                                    @Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.Downloads) && x.StatusInd == true).Select(x => x.MenuTitleTxt).FirstOrDefault()
                                </a>
                            </li>
                        }
                    }

                    //Video
                    if (item.ContentTypeID == Convert.ToInt64(ContentAlias.Video))
                    {
                        if (Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.Video) && x.StatusInd == true).Count() > 0)
                        {
                            <li>
                                <a href="@AppPath/@Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.Video) && x.StatusInd == true).Select(x=>x.PageURLTxt).FirstOrDefault()" id="ankVideos">
                                    @Content.Where(x => x.ContentTypeID == Convert.ToInt32(ContentAlias.Video) && x.StatusInd == true).Select(x => x.PageTitleTxt).FirstOrDefault()
                                </a>
                            </li>
                        }
                    }
                }

            </ul>

        </div>
    </div>
</div>