@using KISD.Areas.Admin.Models;
@using MvcContrib.UI.Grid;
@using MasterTypeAlias = KISD.Areas.Admin.Models.GalleryListingService.TypeMaster;
@model PagedViewModel<BoardMembersModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var message = TempData["AlertMessage"] ?? string.Empty;
    var alertmessage = TempData["Message"] ?? string.Empty;
    var pager = TempData["pager"] ?? string.Empty;
    var SortColumn = Request.QueryString["Column"] != null ? Request.QueryString["Column"].ToString() : "BOMCreateDate";
    var SortDirection = Request.QueryString["Direction"] != null ? Request.QueryString["Direction"].ToString() : "Descending";
    var Pagesize = Request.QueryString["pagesize"] != null ? Request.QueryString["pagesize"].ToString() : Common._pageSize.ToString();
    var PagerID = Request.QueryString["page"] != null ? Request.QueryString["page"].ToString() : Common._currentPage.ToString();
    var AppPath = (Request.IsSecureConnection ? "https://" : "http://") +
                  (HttpContext.Current.Request.Url.DnsSafeHost) +
                  (HttpContext.Current.Request.IsLocal ?
                  (":" + HttpContext.Current.Request.Url.Port.ToString()) : "") +
                  "/Admin/BoardMembers/Index?page=1&Column=" + SortColumn + "&Direction=" + SortDirection + "&pagesize=";
    AppPath = Common.ReturnValidPath(AppPath);
}

@using (Html.BeginForm("Index", "BoardMembers",
                                    new
                                    {
                                        pagesize = Pagesize,
                                        page = PagerID,
                                        Column = SortColumn,
                                        Direction = SortDirection
                                    },
                                     FormMethod.Post, new { id = "form1", name = "form1" }))
{
    <div class="breadcrumb">
        <ul>
            <li>
                <i class="icon-th"></i>
                <a id="ankdahboard" href='@Url.Action("Index", "Home")'>Dashboard</a>
            </li>
            <li>
                @Html.Raw(Convert.ToString(@ViewBag.PageTitle))
            </li>
        </ul>
    </div>
    <div class="wrapper">
        <!-- Wrapper -->
        <div class="widget">
            <!-- widget -->
            <div class="widget-header">
                <!-- widget-header -->
                <h4>
                    <i class="icon-reorder"></i>
                    @Html.Raw(Convert.ToString(@ViewBag.PageTitle))
                </h4>
                <div class="btn-group">
                    <a href='@Url.Action("Create", "BoardMembers"
                    , new
                        {
                          bmid = EncryptDecrypt.Encrypt("0"),
                          pagesize = Pagesize,
                          page = PagerID,
                          Column = SortColumn,
                          Direction = SortDirection
                         }
                    )
                        '>
                        <i class="icon-plus"></i>Add
                    </a>
                </div>
            </div>

            @*Calling Partial View For Ajax Call backs or Postback*@
            @Html.Partial("BoardMembersListingPartial", Model)
        </div>
    </div>

    @Html.Hidden("returnUrl", this.Request.RawUrl)

    <input type="hidden" name="hdncheckboxselected" id="hdncheckboxselected" value="" />
    <input type="hidden" name="hdnvalue" id="hdnvalue" value="" />
}

<script src="~/Scripts/js/jquery-1.10.2.js"></script>
<script type="text/javascript">
    // code for blocking the user untill the page is not fully loaded.
    $(document).ready(function () {
        $("#div").fadeOut();
    });
</script>
<script type="text/javascript">
    $("#ankContactUsBoard").addClass('select');
    $('#ankBoardMembers').addClass('select');
    $('#ankBoardMembersListing').addClass('select');
</script>
<script src="~/Scripts/js/footable.js" type="text/javascript"></script>
<script>
    $(function () {
        $('table').footable();
    });
</script>
