@using KISD.Areas.Admin.Models;
@model KISD.Areas.Admin.Models.ResetPasswordModel

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
@{
    Layout = "~/Views/Shared/ResetLayout.cshtml";
    ViewBag.Title = "Reset Password";
    var message = TempData["AlertMessage"] ?? string.Empty;
    var AppPath = (Request.IsSecureConnection ? "https://" : "http://") + (HttpContext.Current.Request.Url.DnsSafeHost) + (HttpContext.Current.Request.IsLocal ? (":" + HttpContext.Current.Request.Url.Port.ToString()) : "");
    AppPath = Common.ReturnValidPath(AppPath);
}
@using (Html.BeginForm("ResetPassword", "Reset"))
{
    <section class="LoginSection">
        <div class="logo">
            <img alt="KISD" title="KISD" src="@AppPath/scripts/Frontend/images/Kisd-logo.png" />
        </div>

        <div class="reset-box">
            <!-- Wrapper -->
            <div class="content">
                <!-- widget -->
                <h3 class="form-title">Reset Password</h3>
                <div class="row">
                    <div class="col60">
                        @{ Html.EnableClientValidation(); }
                    </div>
                </div>

                <div class="row">
                    <div class="col40">
                        <label>
                            New Password:<span class="requiredstar">*</span>
                        </label>
                    </div>
                    <div class="col60">
                        <div class="input-icon">
                            <i class="icon-lock"></i>
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "required  textbox textboxPass", minlength = "6", maxlength = "20", @placeholder = "Minimum 6 characters" })
                            <br />
                            @Html.ValidationMessageFor(m => m.NewPassword)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col40">
                        <label>
                            Confirm New Password:<span class="requiredstar">*</span>
                        </label> 
                    </div>
                    <div class="col60">
                        <div class="input-icon">
                            <i class="icon-lock"></i>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "required  textbox textboxPass", minlength = "6", maxlength = "20", @placeholder = "Minimum 6 characters" })
                            <br />
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col40">&nbsp;</div>
                    <div class="col60">
                        @Html.HiddenFor(m => m.UserID)
                        <input type="submit" value="Save" class="submit-btn btn-class submit" id="btnsave" />
                        &nbsp;&nbsp;&nbsp;
                        <input type="submit" id="btncancel" name="command" value="Cancel"
                               class="cancel cancel-btn btn-class" />
                    </div>
                </div>
            </div>
        </div>
    </section>
                            }
<script src="~/Scripts/js/jquery-1.10.2.js"></script>
<script src="~/Scripts/js/jquery.jgrowl.min.js" type="text/javascript"></script>
<script src="~/Scripts/js/jquery.validate.js"></script>
<script src="~/Scripts/js/jquery.validate.unobtrusive.js"></script>
<script type="text/javascript">
    $("#OldPassword").focus();
    var message = '@message';
    if (message)
        $.jGrowl(message, true);
</script>

