@using KISD.Areas.Admin.Models;
@using MvcContrib.UI.Grid;
@using GalleryListingTypeAlias = KISD.Areas.Admin.Models.GalleryListingService.TypeMaster;

@model PagedViewModel<GalleryListingModel>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    var message = TempData["AlertMessage"] ?? string.Empty;
    var alertmessage = TempData["Message"] ?? string.Empty;
    var pager = TempData["pager"] ?? string.Empty;
    var TypeMasterID = Request.QueryString["glt"] != null ? Request.QueryString["glt"].ToString() : EncryptDecrypt.Encrypt("0");
    var pid = Request.QueryString["pid"] != null ? Request.QueryString["pid"].ToString() : EncryptDecrypt.Encrypt("0");
    var SortColumn = Request.QueryString["Column"] != null ? Request.QueryString["Column"].ToString() : "ListingCreateDate";
    var SortDirection = Request.QueryString["Direction"] != null ? Request.QueryString["Direction"].ToString() : "Descending";
    var Pagesize = Request.QueryString["pagesize"] != null ? Request.QueryString["pagesize"].ToString() : Common._pageSize.ToString();
    var PagerID = Request.QueryString["page"] != null ? Request.QueryString["page"].ToString() : Common._currentPage.ToString();

    var gSortColumn = Request.QueryString["gColumn"] != null ? Request.QueryString["gColumn"].ToString() : "ListingCreateDate";
    var gSortDirection = Request.QueryString["gDirection"] != null ? Request.QueryString["gDirection"].ToString() : "Descending";
    var gPagesize = Request.QueryString["gpagesize"] != null ? Request.QueryString["gpagesize"].ToString() : Common._pageSize.ToString();
    var gPagerID = Request.QueryString["gpage"] != null ? Request.QueryString["gpage"].ToString() : Common._currentPage.ToString();

    var AppPath = (Request.IsSecureConnection ? "https://" : "http://") + (HttpContext.Current.Request.Url.DnsSafeHost) + (HttpContext.Current.Request.IsLocal ? (":" + HttpContext.Current.Request.Url.Port.ToString()) : "")
            + "/Admin/GalleryListing/SubGalleryListing?glt=" + TypeMasterID + "&pid="+ pid + "&gpage=" + gPagerID + "&gColumn=" + gSortColumn + "&gDirection=" + gSortDirection + "&gpagesize=" + gPagesize + "&page=1&Column=" + SortColumn + "&Direction=" + SortDirection + "&pagesize=";
    AppPath = Common.ReturnValidPath(AppPath);
}
@using (Html.BeginForm("SubGalleryListing", "GalleryListing",
                                    new
                                    {
                                        glt = TypeMasterID,
                                        pid= pid,
                                        pagesize = Pagesize,
                                        page = PagerID,
                                        Column = SortColumn,
                                        Direction = SortDirection,
                                        gpagesize = gPagesize,
                                        gpage = gPagerID,
                                        gColumn = gSortColumn,
                                        gDirection = gSortDirection
                                    },
                                     FormMethod.Post, new { id = "form1", name = "form1" }))
{
    <div class="breadcrumb">
        <ul>
            <li>
                <i class="icon-th"></i>
                <a id="ankdahboard" href='@Url.Action("Index", "Home")'>Dashboard</a>
            </li>
            <li>
                <a id="ankGalleryListing" href='@Url.Action("Index", "GalleryListing",new {
                                               glt = EncryptDecrypt.Decrypt(TypeMasterID)== Convert.ToInt32(GalleryListingTypeAlias.FAQ).ToString()? EncryptDecrypt.Encrypt(Convert.ToInt32(GalleryListingTypeAlias.FAQCategory).ToString()): EncryptDecrypt.Encrypt(Convert.ToInt32(GalleryListingTypeAlias.PhotoGallery).ToString()),
                                               pagesize = gPagesize,
                                               page = gPagerID,
                                               Column = gSortColumn,
                                               Direction = gSortDirection,
                                           })'>@if (EncryptDecrypt.Decrypt(TypeMasterID) == @Convert.ToInt32(GalleryListingTypeAlias.FAQ).ToString()) {<text> FAQ Category Listing</text>}
else
{<text> Photo Gallery Listing                                        </text>}</a>
            </li>
            <li>
                @Html.Raw(Convert.ToString(ViewBag.ParentTitle) + " - " + Convert.ToString(@ViewBag.PageTitle) + " Listing")
            </li>
        </ul>
    </div>
    <div class="wrapper">
        <!-- Wrapper -->
        <div class="widget">
            <!-- widget -->
            <div class="widget-header">
                <!-- widget-header -->
                <h4>
                    <i class="icon-reorder"></i>
                    @Html.Raw(Convert.ToString(ViewBag.ParentTitle) +" - "+Convert.ToString(@ViewBag.PageTitle) + " Listing")
                </h4>
                <div class="btn-group">
                    <a id="ankGalleryListing" href='@Url.Action("Index", "GalleryListing",new {
                                               glt = EncryptDecrypt.Decrypt(TypeMasterID)== Convert.ToInt32(GalleryListingTypeAlias.FAQ).ToString()? EncryptDecrypt.Encrypt(Convert.ToInt32(GalleryListingTypeAlias.FAQCategory).ToString()): EncryptDecrypt.Encrypt(Convert.ToInt32(GalleryListingTypeAlias.PhotoGallery).ToString()),
                                               pagesize = gPagesize,
                                               page = gPagerID,
                                               Column = gSortColumn,
                                               Direction = gSortDirection,
                                           })'>
                        <i class="icon-arrow-left"></i>Back
                    </a>
                    <a href='@Url.Action("CreateSubGallery", "GalleryListing"
                    , new
                    {
                        glt = TypeMasterID,
                        pid=pid,
                        glid = EncryptDecrypt.Encrypt("0"),
                        pagesize = Pagesize,
                        page = PagerID,
                        Column = SortColumn,
                        Direction = SortDirection,
                        gpagesize = gPagesize,
                        gpage = gPagerID,
                        gColumn = gSortColumn,
                        gDirection = gSortDirection
                    })'>
                        <i class="icon-plus"></i>Add
                    </a>
                </div>
            </div>

            @*Calling Partial View For Ajax Call backs or Postback*@
            @Html.Partial("SubGalleryListingPartial", Model)
        </div>
    </div>

    @Html.Hidden("returnUrl", this.Request.RawUrl)

    <input type="hidden" name="hdncheckboxselected" id="hdncheckboxselected" value="" />
    <input type="hidden" name="hdnvalue" id="hdnvalue" value="" />
}
<script src="~/Scripts/js/jquery-1.10.2.js"></script>
<script type="text/javascript">
    // code for blocking the user untill the page is not fully loaded.
    $(document).ready(function () {
        $("#div").fadeOut();
    });
</script>
<script type="text/javascript">
    //.. for pager dropdown selectedvalue
    var type = '@EncryptDecrypt.Decrypt(TypeMasterID)';
    if (type == "1") {
        $("#ankMasters").addClass('select');
        $('#ankimagelisting').addClass('select');
    }
    else if (type == "2") {
        $('#ankMasters').addClass('select');
        $('#ankInnerImages').addClass('select');
    }
    else {
        $("#ankMasterImages").addClass('select');
    }
</script>
<script src="~/Scripts/js/footable.js" type="text/javascript"></script>
<script>
    $(function () {
        $('table').footable();
    });
</script>