@model KISD.Areas.BlogAdmin.Models.BlogAccountModel

@{
    ViewBag.Title = "Login";
    var message = TempData["AlertMessage"] ?? string.Empty;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Login - Killeen ISD</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0;" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <!--[if lt IE 9]>
	<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="@Href("~/Scripts/Frontend/images/favicon.png")" rel="shortcut icon" type="image/x-icon" />
    @System.Web.Optimization.Styles.Render("~/Scripts/Admin/css/default.css")
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css' />
</head>
<body class="login">
    <section>
        <div class="logo">
            <img alt="Killeen ISD" title="Killeen ISD" src="~/scripts/Frontend/images/Kisd-logo.png" />
        </div>
        <div class="box">
            <!-- box -->
            <div class="content">
                <h3 class="form-title">Sign In to your Account</h3>
                @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl, defaultbutton = "submit-btn", i = Request.QueryString["i"] != null ? Request.QueryString["i"].ToString() : "" }))
                { 
                    <div class="row">
                        <div class="input-icon">
                            <i class="icon-user"></i>
                            @Html.TextBoxFor(m => m.UserNameTxt, new { @class = "required", placeholder = "Enter Username" })
                            <br />
                            @Html.ValidationMessageFor(m => m.UserNameTxt, null, new { id = "valUsername", name = "valpassword" })
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-icon">
                            <i class="icon-lock"></i>
                            @Html.PasswordFor(m => m.Password, new { @class = "required", placeholder = "Enter Password" })
                            <br />
                            @Html.ValidationMessageFor(m => m.Password, null, new { id = "valpassword", name = "valpassword" })
                        </div>
                    </div>
                    <div class="row"><input type="submit" id="submit-btn" value="Sign In" class="submit pull-right" /></div>
                    <div class="row">
                         <label class="checkbox pull-left">
                            <span>
                                @Html.CheckBoxFor(m => m.RememberMe, new { @class = "pull-left" })
                            </span>
                            Remember me
                        </label>
                        
                    </div>
                    <div class="row">
                        @Html.ValidationSummary(true)
                    </div>
                }
            </div>
        </div>
        <!-- box Ends -->
    </section>
</body>
</html>
<script src="@Href("~/Scripts/js/jquery-1.10.2.js")"></script>
<script src="@Href("~/Scripts/js/jquery.validate.js")"></script>
<script src="@Href("~/Scripts/js/jquery.validate.unobtrusive.js")"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var message = '@message';
        if (message)
            alert(message);
    });    
</script>
