@using KISD.Areas.BlogAdmin.Models;
@using MvcContrib.UI.Grid;
@using MvcContrib.UI.Pager
@using MvcContrib.Pagination
@model PagedViewModel<EmailsModel>
@{
    Layout = "~/Areas/BlogAdmin/Views/Shared/_Layout.cshtml";
    var pager = TempData["pager"] ?? string.Empty;
    var emailtype = Request.QueryString["emailtype"] !=null ? Request.QueryString["emailtype"].ToString(): "0";
    var sortColumn = Request.QueryString["Column"] != null ? Request.QueryString["Column"].ToString() : "EmailTxt";
    var sortDirection = Request.QueryString["Direction"] != null ? Request.QueryString["Direction"].ToString() : "Ascending";
    var pagesize = Request.QueryString["pagesize"] != null ? Request.QueryString["pagesize"].ToString() : Common._pageSize.ToString();
    var page = Request.QueryString["page"] != null ? Request.QueryString["page"].ToString() : Common._currentPage.ToString();
    var AppPath = (Request.IsSecureConnection ? "https://" : "http://") + (HttpContext.Current.Request.Url.DnsSafeHost)
                                                + (HttpContext.Current.Request.IsLocal ? (":" + HttpContext.Current.Request.Url.Port.ToString()) : "")
                                                + "/BlogAdmin/Emails/BlogEmailListing?emailtype=" + emailtype+"page = 1&Column=" + sortColumn + "&Direction=" + sortDirection + "&pagesize=";
    AppPath = Common.ReturnValidPath(AppPath);
}

@using (Html.BeginForm("BlogEmailListing", "Email", new { pagesize = pagesize, page = page, Column = sortColumn, Direction = sortDirection , emailtype = emailtype}
                                                                                        , FormMethod.Post, new { id = "form1", name = "form1" }))
{
    <div class="breadcrumb">
        <!-- Breadcrumb -->
        <ul>
            <li>
                <i class="icon-th"></i>
                <a id="ankdahboard" href='@Url.Action("Index", "Home")'>Dashboard</a>
            </li>
            <li>
                @Html.Raw(string.Format(@ViewBag.Title))
            </li>
        </ul>
    </div>
    <div class="page-header">
        <!-- page-header -->
        <div class="page-title">
        </div>
    </div>
    <div class="wrapper">
        <!-- Wrapper -->
        <div class="widget">
            <!-- widget -->
            <div class="widget-header">
                <!-- widget-header -->
                <h4><i class="icon-reorder"></i>@Html.Raw(string.Format(@ViewBag.Title))</h4>
                <div class="btn-group">
                    <a href='@Url.Action("CreateEmail", "Emails", new {emailtype=emailtype, pagesize = pagesize, page = page, Column = sortColumn, Direction = sortDirection })'>
                        <i class="icon-plus"></i>Add
                    </a>
                </div>
            </div>
            <!-- widget-header Ends -->

            @Html.Partial("BlogEmailListingPartial", Model)

        </div>
        <!-- Wrapper Ends -->
        @Html.Hidden("returnUrl", this.Request.RawUrl)

        <input type="hidden" name="hdncheckboxselected" id="hdncheckboxselected" value="" />
        <input type="hidden" name="hdnvalue" id="hdnvalue" value="" />
        <input type="hidden" name="hdnType" id="hdnType" value="" />
        <input type="hidden" name="hdnshownonhomevalue" id="hdnshownonhomevalue" value="" />
    </div>
}

<script type="text/javascript">
            $("#ankmasteremails").addClass('select');
            var type = '@emailtype';

            if (type == '1') {
                $("#ankfromemail").addClass('select');
            }
            else {
                $("#anktoemail").addClass('select');
            }
</script>
<script src="~/Areas/BlogAdmin/Scripts/Admin/footable.js" type="text/javascript"></script>
<script>
            $(function () {
                $('table').footable();
            });
</script>
