@model KISD.Areas.Admin.Models.ChangePasswordModel

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ChangePassword";
    var message = TempData["AlertMessage"] ?? string.Empty;
}
@using (Html.BeginForm("ChangePassword", "Account"))
{
    <div class="breadcrumb">
        <!-- Breadcrumb -->
        <ul>
            <li>
                <i class="icon-th"></i>
                <a id="ankdahboard" href='@Url.Action("Index", "Home")'>Dashboard</a>
            </li>
            <li>
                Change Password
            </li>
        </ul>
    </div>

    <div class="wrapper">
        <!-- Wrapper -->
        <div class="widget">
            <!-- widget -->
            <div class="widget-header">
                <!-- widget-header -->
                <h4><i class="icon-reorder"></i>Change Password </h4>
                <div class="btn-group">
                </div>
            </div>

            <div class="row">
                <div class="col60">
                    @{ Html.EnableClientValidation(); }
                </div>
            </div>

            <div class="row">
                <div class="col20">
                    <label>
                        Old Password:<span class="requiredstar">*</span>
                    </label>
                </div>
                <div class="col40">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "required textbox",minlength="6", maxlength = "20", @placeholder = "Maximum 20 characters" })
                    <br />
                    @Html.ValidationMessageFor(m => m.OldPassword)
                </div>
            </div>

            <div class="row">
                <div class="col20">
                    <label>
                        New Password:<span class="requiredstar">*</span>
                    </label>
                </div>
                <div class="col40">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "required textbox", maxlength = "20", @placeholder = "Maximum 20 characters" })
                    <br />
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </div>
            </div>

            <div class="row">
                <div class="col20">
                    <label>
                        Confirm New Password:<span class="requiredstar">*</span>
                    </label>
                </div>
                <div class="col40">
                    @Html.PasswordFor(m => m.ConfirmNewPassword, new { @class = "required textbox", maxlength = "20", @placeholder = "Maximum 20 characters" })
                    <br />
                    @Html.ValidationMessageFor(m => m.ConfirmNewPassword)
                </div>
            </div>

            <div class="row">
                <div class="col20">&nbsp;</div>
                <div class="col40">
                    <input type="submit" value="Save" class="submit-btn btn-class submit" id="btnsave" />

                    <input type="submit" id="btncancel" name="command" value="Cancel"
                           class="cancel cancel-btn btn-class" />

                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="~/Scripts/js/jquery.jgrowl.min.js" type="text/javascript"></script>
<script src="~/Scripts/js/jquery.validate.js" type="text/javascript"></script>
<script src="~/Scripts/js/jquery.validate.unobtrusive.js" type="text/javascript"></script>
<script type="text/javascript">
    $("#OldPassword").focus();
    var message = '@message';

    if (message)
        $.jGrowl(message, true);

</script>


